@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

   <h1 class="display-4">Welcome</h1>
   <p>@ViewData["Message"]</p>
   <p>Time: @ViewData["Time"]</p>
   <p>App Setting Override 1: @ViewData["AppTag"]</p>
   <p>App Setting Override 2: @ViewData["ConnStr"]</p>
   <p>Azure App Config 1: @ViewData["AzureAppConfig"]</p>
   <p>Azure App Config Conn Dev: @ViewData["AzureAppConfigConnDev"]</p>
</div>
