@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

   <h1 class="display-4">Welcome</h1>
   <p>@ViewData["Message"]</p>
   <p>Time: @ViewData["Time"]</p>
   <p>App Setting Override 1: @ViewData["AppTag"]</p>
   <p>App Setting Override 2: @ViewData["ConnStr"]</p>
   <p>Azure App Config Msg: @ViewData["AzureAppConfig"]</p>
   <p>Azure App Config Conn: @ViewData["AzureAppConfigConnDev"]</p>
   <p>Azure App Config Label: @ViewData["AzureAppConfigLabel"]</p>
   <p>Azure App Config Dynamic Msg (Refresh per 30 min): @ViewData["AzureAppConfigDynamic"]</p>
   <p>Azure App Config Key Vault Ref: @ViewData["AzureAppConfigKvRef"]</p>

</div>
